@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*{
    margin: 0%;
    padding: 0%;
}

html, body{
    display: grid;
    position: relative;
    height: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.394), rgba(255, 255, 255, 0.401)), 
        url(../img/tom-barrett-M0AWNxnLaMw-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(31, 31, 31, 0.897);
}

/* CUERPO DE LA PÁGINA */

/* Cabecera */

#cabecera{
    display: block;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

#cabecera h1{
    font-size: 70px;
    margin: 2%;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.39);
}

#cabecera img{
    height: 300px;
    width: 650px;
    box-shadow: 0px 0px 25px 3px black;
    margin: 2%;
}

/* Desplegable Continentes */

#desplegableCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

.continentes{
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    text-shadow:  1px 1px rgba(0, 0, 0, 0.39);
    color: rgba(31, 31, 31, 0.897);
    border: 2px solid rgb(41, 41, 41);
    border-radius: 3em;
    background-color: rgba(252, 252, 252, 0.476);
}

.continentes option{
    font-size: 15px;
}

#cont{
    text-align: center;
}

.continentes:hover {
    border-color: rgba(31, 31, 31, 0.897);
    box-shadow: 0px 0px 10px 3px black;
}

/* Información sobre los viajes de Europa y del resto del Mundo */

#info{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    padding: 4%;
}

#info article{
    width: 80%;
    text-align: justify;
}

#info a{
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    text-align: center;
    color: rgba(31, 31, 31, 0.897);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.39);
}

#info p{
    padding-top: 3%;
}

#info a:hover{
    text-decoration: dashed;
}

/* RESPONSIVE */

/* Media queries de 500px hasta 899px */

@media only screen and (min-width: 500px) and (max-width: 899px){

    /* Cabecera */

    #cabecera h1{
        font-size: 60px;
        padding: 3%;
    }

    #cabecera img{
        height: 200px;
        width: 450px;    
    }
    
    /* Información viajes */

    #info {
        margin-inline: 2%;
    }

    #info a{
        text-align: center;
    }
}

/* Media queries hasta 499px */

@media only screen and (max-width: 499px){

    /* Cabecera */

    #cabecera h1{
        font-size: 32px;
        padding: 5%;
    }

    #cabecera img{
        height: 100px;
        width: 250px;    
    }

    #cabecera h2{
        font-size: 18px;
        padding: 7%;
    }

    /* Desplegable continentes */

    .continentes{
        font-size: 15px;
    }

    /* Información viajes */

    #info{
        display: grid;
        grid-template-columns: 1fr;
    }

    #info article{
        font-size: 15px;
        width: 80%;
        padding: 2%;
    }

    #info a{
        font-size: 20px;
        text-align: center;
    }
}
