@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*{
    margin: 0%;
    padding: 0%;
}

html, body{
    display: grid;
    position: relative;
    height: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.394), rgba(255, 255, 255, 0.401)), 
        url(../img/tom-barrett-M0AWNxnLaMw-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(31, 31, 31, 0.897);
}

/* CUERPO DE LA PÁGINA */

/* Cabecera */

#cabecera{
    display: block;    
    text-align: center;
    font-family: 'Indie Flower', cursive;
    margin-inline: 15%;
}

#cabecera h1{
    font-size: 70px;
    margin: 2%;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.39);
}

#cabecera p{
    font-size: 25px;
    padding-bottom: 3%;
}

/* Formulario */

form{
    padding: 2%;
    border: 1.5px solid rgba(0, 0, 0, 0.638);
    margin-inline: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

fieldset{
    border: 1px solid black;
    padding: 2%;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.39);
}

legend{
    font-family: 'Indie Flower', cursive;
    font-size:25px;
    text-align: start;
}

/* Datos personales */

#datos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1%;
}

#izq{
    display: grid;
    grid-column: 1/2;
    padding-inline: 10%;
    padding-bottom: 5%;
}

#dcha{
    display: grid;
    grid-column: 2/3;
    padding-inline: 10%;
    padding-bottom: 5%;
}

#datos input{
    background-color: rgba(180, 180, 180, 0.699);
    padding: 1%;
}

#datos input:focus {
    outline: 5px solid rgba(61, 182, 226, 0.418);
}

/* Ideas de viaje */

#viaje{
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 2%;
}

textarea{
    background-color: rgba(180, 180, 180, 0.699);
}

textarea::placeholder, input::placeholder{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

textarea:focus{
    outline: 5px solid rgba(61, 182, 226, 0.418);
}

#viaje p{
    padding: 3%;
}

#viaje input{
    background-color: transparent;
}

#viaje input:hover{
    background-color: rgba(180, 180, 180, 0.699);
    box-shadow: 3px 3px rgba(4, 4, 4, 0.463);
}

/* Enviar formulario */

#enviarForm{
    padding: 2%;
    font-size: 20px;
    width: 100%;
    background-color: rgba(180, 180, 180, 0.702);
    margin-bottom: 2%;
}

#guardar{
    padding: 2%;
    font-size: 20px;
    width: 100%;
    background-color: rgba(180, 180, 180, 0.702);
}

#enviarForm:hover{
    background-color: rgba(61, 182, 226, 0.418);
}

#guardar:hover{
    background-color: rgba(61, 182, 226, 0.418);
}

#enviar p{
    display: grid;
    justify-content: center;
    text-align: center;
    padding-top: 2%;
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
}

/* Respuesta datos formulario */
#respuesta{
    padding: 4%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* RESPONSIVE */

/* Media queries de 500px hasta 899px */

@media only screen and (min-width: 500px) and (max-width: 899px){

    /* Cabecera */

    #cabecera {
        margin-inline: 10%;
    }

    #cabecera h1{
        font-size: 60px;
        padding: 3%;
    }

    /* Formulario */

    form{
        margin-inline: 10%;
    }
}

/* Media queries hasta 499px */

@media only screen and (max-width: 499px){

    /* Cabecera */

    #cabecera{
        margin-inline: 10%;
    }

    #cabecera h1{
        font-size: 32px;
        padding-top: 5%;
    }

    #cabecera p{
        font-size: 18px;
    }
    /* Formulario */

    form{
        margin-inline: 10%;
    }

    legend{
        font-size: 20px;
    }

    #datos{
        display: block;
        font-size: 15px;
    }

    #enviarForm #guardar{
        font-size: 15px;
    }

    #enviar p{
        font-size: 18px;
    }
}
