@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*{
    margin: 0%;
    padding: 0%;
}

html, body{
    display: grid;
    position: relative;
    height: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.394), rgba(255, 255, 255, 0.401)), 
        url(../img/tom-barrett-M0AWNxnLaMw-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(31, 31, 31, 0.897);
}

/* CUERPO DE LA PÁGINA */

/* Cabecera */

h1{
    display: block;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.39);
    font-size: 70px;
    margin: 2%;
}

/* Filtrar */

#filtrar{
    font-family: 'Indie Flower', cursive;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.39);
    font-size: 25px;
    margin-left: 6%;
    margin-bottom: 2%;

}

#search{
    background-color: rgba(251, 251, 251, 0.502);
    margin-bottom: 2%;
    font-size: 15px;
    width: 25%;
}

/* Tabla */

table{
    border: 1px solid rgba(0, 0, 0, 0.65);
    box-shadow:5px 5px rgba(0, 0, 0, 0.39);
    border: 1px solid #000;
    border-collapse: separate;
    border-spacing: 5px;
    background-color: rgba(210, 210, 210, 0.25);
    margin-inline: 5%;
    width: 90%;
    margin-bottom: 5%;
}

th, td{
    border: 1px solid rgba(0, 0, 0, 0.65);
    padding: 0.5%;
}

th {
    background-color: rgba(251, 251, 251, 0.502);
}

td{
    text-align: left;
}

td:first-child{
    text-align: center;
}

td:first-child button{
    width: 70%;
    background-color: rgba(251, 251, 251, 0.600);
}

td:first-child button:hover{
    background-color: rgba(251, 251, 251);
}

td:nth-child(7){
    width: 20%;
}

thead{
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.7);
}

tbody{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.7);
}

/* RESPONSIVE */

/* Media queries de 500px hasta 899px */

@media only screen and (min-width: 500px) and (max-width: 899px){

    /* Cabecera */

    h1{
        font-size: 60px;
        padding: 3%;
    }

    /* Filtrar */

    #filtrar{
        font-size: 25px;
    }

    #search{
        font-size: 15px;
    }

    /* Tabla */

    table{
        margin-inline: 5%;
    }

    thead{
        font-size: 13px;
    }

    tbody{
        font-size: 8px;
    }
}

/* Media queries hasta 499px */

@media only screen and (max-width: 499px){

    /* Cabecera */

    h1{
        font-size: 32px;
        padding-bottom: 5%;
    }

    /* Filtrar */

    #filtrar{
        font-size: 15px;
    }

    #search{
        font-size: 10px;
    }

    /* Tabla */

    table{
        border-spacing: 2px;
        margin-inline: 5%;
    }

    thead{
        font-size: 7px;
    }

    tbody{
        font-size: 5px;
    }
}
